asgiref==3.2.10
colorama==0.4.4
Django==3.1.12
flake8==3.8.4
mccabe==0.6.1
Pillow==8.4.0
pycodestyle==2.6.0
pyflakes==2.2.0
PyMuPDF==1.19.3
python-barcode==0.13.1
pytz==2020.1
qrcode==7.3.1
sqlparse==0.3.1
